nav
{
    background-color: #404040;
    color: beige;   
    height: 55px;
}
.logo
{
    margin-top: 0px;
    float: left;
    padding: 10px;
    text-align: right;
    border-top: 5px solid red;
}
.btn 
{
    border-radius: 0;
    border-left: 1px solid black;
    color: lightgray;   
}
.btn:hover
{
    color: beige;   
}